
@{
    ViewData["Title"] = "ReachMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Skills-->
<section class="mt-5">
    <div class="container">
        <h1 class="text-white fw-bolder text-center mb-5">
            Reach Me!
        </h1>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-4">
                    <i class='bx bxl-gmail fs-4 rounded bg-danger me-3'></i>
                    <a href="mailto:rasulsonmez0@gmail.com" class="text-white-50" target="_blank">
                        rasulsonmez0@gmail.com
                    </a>
                </div>

                <div class="d-flex align-items-center mb-4">
                    <i class='bx bxl-telegram fs-4 rounded text-info me-3'></i>
                    <a href="https://t.me/rslsnmz" class="text-white-50" target="_blank">
                        @Html.Raw("@rslsnmz")
                    </a>
                </div>

                <div class="d-flex align-items-center mb-4">
                    <i class='bx bxl-github fs-4 rounded text-secondary me-3'></i>
                    <a href="https://github.com/RasulSonmez" class="text-white-50" target="_blank">
                        @Html.Raw("@RasulSonmez")
                    </a>
                </div>

                <div class="d-flex align-items-center mb-4">
                    <i class='bx bxl-linkedin fs-4 rounded bg-info me-3'></i>
                    <a href="https://www.linkedin.com/in/rasul-s%C3%B6nmez-94903023b/" class="text-white-50" target="_blank">
                        @Html.Raw("Rasul Sönmez")
                    </a>
                </div>


                <div class="d-flex align-items-center mb-4">
                    <i class='bx bxl-instagram fs-4 rounded bg-danger me-3'></i>
                    <a href="https://www.instagram.com/rsl.snmz0/" class="text-white-50" target="_blank">
                        @Html.Raw("@rslsnmz")
                    </a>
                </div>

            </div>

        </div>


    </div>

</section>

